%center プロフィール編集
%main.container

  %section.form_area
    = form_with model: @profile, url: profile_path, local: true do |f|
      - if @profile.errors.any?
        #error_explanation
          %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"

      .email_area
        %h4 アイコンを選択する
        = f.file_field :avatar

      <br>
      .password_area
        %h4 ユーザー名
        = f.text_field :name, class: 'naming_holder'

      <br>
      .field
        %h4 自己紹介文
        = f.text_area :bio

      .actions
        = f.submit '保存'
