= form_with model: @profile, url: profile_path, local: true do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name, 'ユーザー名'
    <br>
    = f.text_field :name, class: 'naming_holder'

  .field
    = f.label :bio,'自己紹介'
    <br>
    = f.text_area :bio

  .field
    = f.label :avatar,'アイコン'
    <br>
    = f.file_field :avatar

  .actions
    = f.submit '保存'
