.container
.outer
  .inner
    %ul
      - article.errors.full_messages.each do |message|
        %li= message
    = form_with(model: @article, local: true) do |f|

      %div
        = f.label :title

      %div
        = f.text_field :title, class: 'text', placeholder: 'タイトル'

      %div
        = f.label :content

      %div
        = f.rich_text_area :content, placeholder: '学習した内容を書いてみよう'

      %div
        = f.number_field :price, min: 0, placeholder: '値段'

      %div
        = f.submit '保存', class: 'btn-primary'