.article#article-show{ data: {article_id: @article.id} }
  .outer
    .sidebar
      = render 'commons/tabs'
    .inner
      %main.container
        %hr
        %section.container.article_header
          = render 'commons/article', article: @article

        %section.container.like_handler
          = render 'commons/like', article: @article
        
        -# %section.price_tag
        -#   = render 'commons/payment', article: @article
          
        %hr
        %section.container.comment_space
          %h2= 'コメント'
          = render 'commons/comment', comments: @comments
    .sidebar