.article#article-show{ data: {article_id: @article.id} }
  .inner
    .article_header
      %h2.article_title
        = @article&.title
      .article_actions
        - if user_signed_in? && current_user.has_written?(@article)
          .dropdown
            = image_tag 'down-arrow.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to '編集する', edit_article_path(@article)
              = link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもいいですか？'} 

    = link_to account_path(@article.user) do
      .article_icons
        = image_tag(@article.user.avatar.to_s, class: 'article_avatar')
        .article_data
          .article_author
            %p= "#{@article.author_name}"
          .article_date
            %p= "#{@article.display_created_at}"

    .article_content
      = simple_format(h(@article&.content))

    = render 'commons/likes', article: @article
      
    .profile_card
      .profile_card_nickname
        %p= @article.user&.name
      - if current_user != @article.user
        .profile_card_actions
          = render 'relationships/follow', user: @article.user
    .profile_box_introduction
      %p= @article.user&.bio
    %hr
    - if user_signed_in?
      .article_heart.hidden.active-heart
        = image_tag 'active-heart.svg'
      .article_heart.hidden.non-active-heart
        = image_tag 'non-active-heart.svg'
    
    // コメントを閉じられるAjaxがあれば助かる？
    .centering
      %h3= 'コメント'
    - @comments.each do |comment|
      .commnet_card
        = link_to account_path(comment.user) do
          .article_icons
            = image_tag(comment.user.avatar.to_s, class: 'article_avatar')
            .article_data
              .article_author
                %p= "#{comment.user.name}"
              .article_date
                %p= "#{comment.created_at}"
        %p= comment.content

    .comment_space
      - if user_signed_in?
        = form_with(model: [@user, @article, @comment], local: true) do |f|
          = f.hidden_field :user_name
          = f.text_area :content
          %br
          = f.submit 'コメントする'