%main.container
  - @articles.each do |article|
    %article.article_card
      = link_to article_path(article) do
        .article_data
          %p= "#{article.author_name}が#{article.display_created_at}に投稿"
        %h3.article_title
          = article&.title