.f-container
  %h2.article_title
    = @article&.title
  - if user_signed_in? && current_user.has_written?(@article)
    .dropdown
      = image_tag 'down-arrow.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集する', edit_article_path(@article)
        = link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもいいですか？'} 

= link_to account_path(@article.user), class: 'article_icons' do
  = image_tag(@article.user.avatar.to_s, class: 'article_avatar')
  .article_data
    .article_author
      %p= "#{@article.author_name}"
    .article_date
      %p= "#{@article.display_created_at}"

.article_content
  = simple_format(h(@article&.content))