.container
  - @articles.each do |article|
    .inner
      = link_to article_path(article) do
        .article_card
          %header
            %p= "#{article.author_name}が#{article.display_created_at}に投稿"

          %body
            .card
              %h2.card_title
                = article&.title