.container
  - @articles.each do |article|
    = link_to article_path(article) do
      .article_card
        .article_data
          %p= "#{article.author_name}が#{article.display_created_at}に投稿"
        %h3.article_title
          = article&.title