%p= "¥#{article.price}"
= form_tag payments_path, id:"payForm" do
    %script{:src => "https://checkout.stripe.com/checkout.js",
            class: 'stripe-button',
    }
        = hidden_field_tag 'stripeToken'
        = hidden_field_tag 'amount', article.price
        = hidden_field_tag 'stripeEmail'

        = hidden_field_tag 'user_id', current_user.id
        = hidden_field_tag "article_id", article.id
