- if @profile&.avatar&.present?
  = image_tag @profile.avatar.to_s, class: 'profile_avatar'
- else
  = image_tag 'default-avatar.png'

%p= @profile&.name
%p= @profile&.bio

= link_to 'プロフィールを編集する', edit_profile_path(@profile)