%body
  .profile
    .profile_left
      .profile_box
        - if user&.avatar&.present?
          = image_tag user.avatar.to_s, class: 'profile_box_avatar'
        - else
          = image_tag 'default-avatar.png'

        .profile_box_nickname
          %p= user&.name

        .profile_box_introduction
          %p= user&.bio

        .profile_box_actions
          - if current_user == user
            = link_to 'プロフィールを編集する', edit_profile_path(@profile)
          - else
            = render 'relationships/follow', user: @profile.user
        
    .profile_articles
      // profileのユーザーが投稿した記事一覧
      = render 'commons/articles'

    .bookmarks
    // ブックマークした記事を表示