-# = image_tag current_user.avatar
- if Profile.name.exists?
  %p= @profile&.name
- else
  %p= current_user.name
  
%p= @profile&.bio

%p= current_user&.articles

= link_to '編集', edit_profile_path(@profile)