.outer
  .profile_sidebar
    .container
      - if user&.avatar&.present?
        .centering
          = image_tag user.avatar.to_s, class: 'circle_icon_lg'
      - else
        .centering
          = image_tag asset_path('default-avatar.png'), class: 'circle_icon_lg'

      %h4.centering= user&.name
      .container
        = simple_format(h(@profile&.bio))
    
    .btn_handler
      - if current_user == user
        = link_to '編集する', edit_profile_path(@profile)
      - else
        = render 'relationships/follow', user: @profile.user
  .inner
    .container
      = render 'commons/articles'