!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title study-app
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header_logos
        %p.header_pageTitle
          = link_to 'AdStudy', root_path

      - if user_signed_in?
        = link_to '新規作成',new_article_path,class: 'header_newPostButton'
        = link_to profile_path(current_user) do
          - if current_user&.avatar&.present?
            = image_tag current_user.avatar.to_s, class: 'header_avatar'
          - else
            = image_tag 'default-avatar.png', class: 'header_avatar'
        = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }, class: 'header_logoutBtn'
      - else
        = link_to 'ログイン', new_user_session_path, class: 'header_loginBtn'
        = link_to '新規登録', new_user_registration_path, class: 'header_registrationBtn'

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
